* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes colors*/
.orange {
     background-color: #daa520; 
}

.dark-blue {
    background-color: darkblue;
}

.light-blue {
    background-color: #1e90ff;
}

.pink {
    background-color: pink;
}



/* utility classes border and block division */
.dashed {
     border: 1px dashed black; 
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
}

.col-6 {
    flex-basis: calc((100%/12) * 6);
}

.col-8 {
    flex-basis: calc((100%/12) * 8);
}

.col-4 {
    flex-basis: calc((100%/12) * 4);
}

/* utily classes spacing */
.header-padding {
   
    padding-bottom: 3px;
    padding-top: 3px;
}

.height {
    height: 200px;
}

.general-padding {
  padding: 25px 0px;
}



/* Rules */

.header-container {
    background-color: #add8e6;
    display: flex;
    height: 50px;
    justify-content: center;  
    align-items: center;  

}

.header-bar-container{
    display: flex;
    height: 30px;
    justify-content: flex-end;
    flex-basis: 70%;
    

}

.header-logo {
    
    padding-left: 10px;
}

.header-links {

    padding-left: 70px;
    padding-right: 10px;
}

.header-login {

    padding-left: 100px;
}

.hello-bar-content {
    height: 150px;
    width: 50%;
    margin: 0px auto;
    background-color: #ee82ee;
    
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section-content {
    display: flex;
    height: 150px;
    width: 50%;
}


